/* nav style */
.nav {
    display: flex;
    justify-content: space-between;
    margin: 0, 200px;
    align-items: center;
    padding: 0 150px;

}

.btn-primary {
    background-color: rgb(78, 71, 255);
    font-weight: bold;
    color: white;
    height: 35px;
    width: 180px;
    font-size: 16px;
    border-radius: 5px;
    border: none;

}

.pic1 {
    border-radius: 45px;
    width: 300px;
    margin-top: 80px;
}

.contant {
    width: 380px;
    height: 250px;

    margin-top: 60px;
}

.contant:hover {
    background-color: aliceblue;
    box-shadow: 1px 1px 1px 1px;
}

.title1 {
    font-size: 42px;
}

.contant1 {
    display: flex;
    justify-content: space-around;
    padding: 180px, 200px;
    align-items: center;


}

.btn-primary:hover {
    background-color: green;
}


.header {
    background-image: url(../images/Hero-bg.png);
    height: 709px;
}

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.title {
    font-weight: 800;
    font-size: 34px;
    color: rgb(78, 71, 255);
}

.head-text {
    font-weight: bold;
    font-size: 65px;
    text-align: center;
}

.productive-user {
    display: flex;
    justify-content: center;
    gap: 150px;

}

.title3 {
    font-weight: bold;
    font-size: 80px;
    color: rgb(78, 71, 255);
    margin-bottom: 0%;
    margin-top: 0%;

}

.contant2 {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 10px;


}

.contant2 {
    background-color: aliceblue;
    box-shadow: inset;
    padding: 200, 180;
    border-radius: 20px;

}